<link rel="stylesheet" href="style.css">

<h1 style="text-align: center;font-family: futura;font-size: 150px;color: #ffaf1a;margin: 100px;padding: 50px;text-shadow: 0 0 5px #ffb84d, 0 0 10px #ffb84d, 0 0 20px #ffb84d, 0 0 30px #ffb84d, 0 0 40px #ffb84d, 0 0 55px #ffb84d, 0 0 75px #ffb84d;">
<%= @player_name %>
</h1>

<form action="/play">
  <input type="submit" value="Continue to game">
</form>
